{% extends 'dream_list/base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <h1>Login Page</h1>
  <br/>
  
  <form method="POST" action="">
    {% csrf_token %}
  
<form>
      <div class="mb-3">
    
        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" name="username" required>
      
      </div>
      <div class="mb-3">

        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
      </div>
 
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </form>
  
  </div>

{% endblock %}